<h1 class="center">Post requests here</h1>

<div class="row chat-container">
  <div class="col-md-8 center-block">
    <div class="messages" id="messages">
    <%= render @messages %>
    </div>
    <hr />
  <div class="message-container">
    <%= form_for(@message, :html => {class: "form-horizontal", role: "form"}) do |f| %>
    <%= f.text_area :content, class: "form-control", placeholder: "Enter what you are looking for!" %>
    <%= f.submit "Send", class: 'btn btn-primary' %>
    <% end %>
    </div>
  </div>
</div>